<p>A new Transaction was made on your account
from ATM <%= @atm_name %> with amount $ <%= @amount_tra%>
</p>
<h3 style="color : red;font-weight:900">xxxxxxxxxxxxxTransaction Was Made IF NOT YOU PLEASE RESPOND IMMEDIATELY!xxxxxxxxxxxxx</h3>
